<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ pokemon?.name | titlecase }}</mat-card-title>
      <mat-card-subtitle
        >Type: {{ pokemon?.types[0].type.name | titlecase }}</mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      src="{{ sprite }}"
      alt="Photo of {{ pokemon?.name | titlecase }}"
    />
    <mat-card-content>
      <fieldset style="border-radius: 5px; width: 100%; height: auto">
        <legend>Attributes:</legend>

        <div style="width: 50%; float: left">
          <p>❤️ Health: {{ pokemon?.stats[0].base_stat }}</p>
          <p>⚔️ Attack: {{ pokemon?.stats[1].base_stat }}</p>
          <p>📏 Height: {{ pokemon?.height }}</p>
        </div>
        <div style="width: 50%; float: right">
          <p>💪🏼 Ability 1: {{ pokemon?.abilities[0].ability.name | titlecase }}</p>
          <p>💪🏼 Ability 2: {{ pokemon?.abilities[1].ability.name | titlecase }}</p>
          <p>😋 Weight: {{ pokemon?.weight }}</p>
        </div>
      </fieldset>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="pokeBtn" (click)="changeSprite()">
        {{ spriteBtn }}
      </button>
      <button mat-button class="pokeBtn" (click)="makeShiny()">
        {{ shinyBtn }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
