::ng-deep .mat-dialog-container {
  background: #1f0a4e !important;
}

.example-card {
  min-width: 250px;
  max-width: 300px;
  color: #fff;
  margin: 5px;
  background-color: #1f0a4e;
}

.mat-card-subtitle {
  color: #8f85a7;
}

.pokeBtn {
  background-color: #fff;
  color: #333;
}
